# Visual Studio Code
.vscode/
*.code-workspace
.history/

# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
bin/
include/
lib/
venv/
env/

# macOS
.DS_Store

# Node / Vite / Electron
node_modules/
dist/
release/

# Electron packaged artifacts
*.app/
*.dmg
*.zip
*.asar
app.asar.unpacked/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local app settings
settings.json